apiVersion: v1
kind: PersistentVolume
metadata:
  name: mysql-pv
spec:
  capacity:
    storage: 5Gi
  accessModes:
    - ReadWriteOnce
  storageClassName: mysql-hostpath
  hostPath:
    path: /data/mysql
    type: DirectoryOrCreate


